body {
  font-family: sans-serif;
}

h1 {
  flex: auto;
  text-align: center;
}

th,
td {
  border: 2px solid #999;
  text-align: left;
  padding: 0.5rem;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid;
  margin-bottom: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

label {
  text-align: right;
  clear: both;
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}

#submitBtn {
  margin-bottom: 15px;
  border-radius: 20px;
  width: 175px;
  height: 35px;
  font-size: 20px;
}

#salarySum {
  width: fit-content;
  float: left;
}

input {
  height: 20px;
  width: 175px;
}
