@media (prefers-color-scheme: dark) {
  body {
    color: #eeee;
    background: #121212;
  }

  ::placeholder {
    color: #eeee;
    opacity: 0.8;
  }

  input {
    background-color: rgb(34, 33, 33);
    color: #eeee;
  }

  #submitBtn {
    color: #eeee;
  }

  tbody tr:nth-of-type(even) {
    background-color: rgb(34, 33, 33);
  }
}
@media (prefers-color-scheme: light) {
  tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
}

body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

th,
td {
  border: 2px solid #999;
  text-align: left;
  padding: 0.5rem;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid;
  margin-bottom: 20px;
}

label {
  text-align: right;
  clear: both;
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}

#submitBtn {
  margin-bottom: 15px;
  border-radius: 20px;
  width: 175px;
  height: 35px;
  font-size: 20px;
}

#salarySum {
  width: fit-content;
  float: left;
}

input {
  height: 20px;
  width: 175px;
  font-size: 16px;
}
